*{
    margin: 0;


}
.box1{
    text-align: center;
    padding:15rem;
    background-image: url(../images/h_img.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 220px;
    

}

.box1 h1{
    color: white;
    font-weight: 500;
}

.about-us{
    text-align: center;
    margin: 50px 50px;
}

.services{
    background-image: url(../images/s_image.jpeg);
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 220px;

    text-align: center;
}
.h2_what_we_do{
    text-align: center;
    padding-top: 40px;
}

.what-we-do{
    display: flex;
    padding: 50px;
   
}

.design_icon{
    display: flex;
    flex: 3;

}
.dev_icon{
    display: flex;
    flex: 3;
    
}
.product_icon{
    display: flex;
    flex: 1;

}

.portfolio{
    padding: 20px;
}

.portfolio h1{
    text-align: center;


}